<% layout('layouts/adminLayout') -%>
<%-block('title','<title> Checkout Sucess Page </title>')%>


<section class="checkout-success">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 mx-auto">
                <div class="text text-center">
                    <img src="frontend/images/CheckCircle.png" alt="" class="img-fluid">
                    <h5>Your order is successfully placed</h5>
                    <p>Pellentesque sed lectus nec tortor tristique accumsan quis dictum risus. Donec volutpat mollis nulla non facilisis.</p>
                    <div class="d-flex flex-wrap flex-md-nowrap justify-content-center gap-2">
                        <a href="#" class="my-btn secondary"><i class="fa-solid me-2 fa-layer-group"></i> Go to Dashboard</a>
                        <a href="#" class="my-btn primary">View Order <i class="fa-solid ms-2 fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="other-product" style="background-color: #FDFDFD;">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12 text-center">
                <h2 class="text-black fw-bold text-uppercase">Shop More?</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <div class="row">
                    <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">    
                        <div class="more-product-box mb-3">
                            <div class="image">
                                <img src="frontend/images/more-product.png" alt="" class="img-fluid">
                            </div>
                            <div class="text">
                                <h6>TOZO T6 True Wireless Earbuds Bluetooth Headpho...</h6>
                                <p class="price">$1,500</p>
                            </div>
                        </div>
                        <div class="more-product-box mb-3">
                            <div class="image">
                                <img src="frontend/images/more-product-1.png" alt="" class="img-fluid">
                            </div>
                            <div class="text">
                                <h6>JBL FLIP 4 - Waterproof Portable Bluetooth Speaker...</h6>
                                <p class="price">$1,500</p>
                            </div>
                        </div>
                        <div class="more-product-box mb-3">
                            <div class="image">
                                <img src="frontend/images/more-product-2.png" alt="" class="img-fluid">
                            </div>
                            <div class="text">
                                <h6>Wyze Cam Pan v2 1080p Pan/Tilt/Zoom Wi-Fi Indoor Smar...</h6>
                                <p class="price">$1,500</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                       
                        <div class="more-product-box mb-3">
                            <div class="image">
                                <img src="frontend/images/more-product.png" alt="" class="img-fluid">
                            </div>
                            <div class="text">
                                <h6>TOZO T6 True Wireless Earbuds Bluetooth Headpho...</h6>
                                <p class="price">$1,500</p>
                            </div>
                        </div>
                        <div class="more-product-box mb-3">
                            <div class="image">
                                <img src="frontend/images/more-product-1.png" alt="" class="img-fluid">
                            </div>
                            <div class="text">
                                <h6>JBL FLIP 4 - Waterproof Portable Bluetooth Speaker...</h6>
                                <p class="price">$1,500</p>
                            </div>
                        </div>
                        <div class="more-product-box mb-3">
                            <div class="image">
                                <img src="frontend/images/more-product-2.png" alt="" class="img-fluid">
                            </div>
                            <div class="text">
                                <h6>Wyze Cam Pan v2 1080p Pan/Tilt/Zoom Wi-Fi Indoor Smar...</h6>
                                <p class="price">$1,500</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                       
                        <div class="more-product-box mb-3">
                            <div class="image">
                                <img src="frontend/images/more-product.png" alt="" class="img-fluid">
                            </div>
                            <div class="text">
                                <h6>TOZO T6 True Wireless Earbuds Bluetooth Headpho...</h6>
                                <p class="price">$1,500</p>
                            </div>
                        </div>
                        <div class="more-product-box mb-3">
                            <div class="image">
                                <img src="frontend/images/more-product-1.png" alt="" class="img-fluid">
                            </div>
                            <div class="text">
                                <h6>JBL FLIP 4 - Waterproof Portable Bluetooth Speaker...</h6>
                                <p class="price">$1,500</p>
                            </div>
                        </div>
                        <div class="more-product-box mb-3">
                            <div class="image">
                                <img src="frontend/images/more-product-2.png" alt="" class="img-fluid">
                            </div>
                            <div class="text">
                                <h6>Wyze Cam Pan v2 1080p Pan/Tilt/Zoom Wi-Fi Indoor Smar...</h6>
                                <p class="price">$1,500</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>