<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" media="all" href="Seller/css/style.css" />
    <link rel="stylesheet" href="frontend/css/style.css">
    <link rel="stylesheet" href="<%- baseUrl -%>Seller/css/toastr.css">
</head>

<body>
  
    <section style="padding-top: 4rem">
        <div class="container">
            <div class="row">
                <div class="col-lg-6" style="float: inherit !important; margin: 0 auto;">
                    <div id="account-login" style="display: block;">
                        <div class="login-header">
                            <h3 class="text-center">desedin Forgot Password<h1>
                        </div>
                        <div class="switch-login-option text-center">
                            <div class="create-new-account-option">
                                New here?
                                <a class="link--strong" href="/signup">
                                    Create an account.
                                </a>
                            </div>
                        </div>
                        <div class="form__group">
                            <form class="simple_form new_session" id="forgotPassword" >
                            
                                <div class="form__field">
                                    <label >Email Address</label>
                                    <input class="form__control" autofocus="autofocus" type="email" value="" name="email" id="email">
                                    <p id="emailError"></p>
                                </div>
                                <div class="form__field">
                                    <label >Password</label>
                                    <input class="form__control" type="password" id="password" name="password" >
                                    <p id="passwordError"></p>
                                </div>
                                <div class="form__field">
                                    <label >Confirm Password</label>
                                    <input class="form__control" type="password" id="confirm_password" name="confirm_password" >
                                    <p id="passwordError"></p>
                                </div>
                                <input type="submit" name="commit" value="forget password" id="login" class="btn btn--big btn--full">
                            </form>
                        </div>
                        <div class="switch-login-content">
                            <div class="switch-login-option">
                                <a href="<%- baseUrl -%>login" class="link link--1 link--default link--strong">
                                    <span class="link__content">
                                        login
                                    </span>

                                </a>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>
    <script src="<%- baseUrl -%>Seller/js/jquery-3.7.1.min.js"></script>
    <script src="<%- baseUrl -%>Seller/js/toastr.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#forgotPassword').submit(function (event) {
                event.preventDefault(); // Prevent default form submission
                console.log('dasd')

                // Clear previous error messages
                $('#emailError').text('');
                $('#passwordError').text('');
                $('#confirmPasswordError').text('');

                // Get form data
                var formData = {
                    email: $('#email').val(),
                    password: $('#password').val(),
                    confirmPassword: $('#confirm_password').val()
                };

                // Client-side validation
                if (!formData.email) {
                    $('#emailError').text('Email is required');
                    return;
                }

                if (!formData.password) {
                    $('#passwordError').text('Password is required');
                    return;
                }

                if (formData.password !== formData.confirmPassword) {
                    $('#confirmPasswordError').text('Passwords do not match');
                    return;
                }
                console.log(formData)


                // AJAX request to the server
                $.ajax({
                    type: 'POST',
                    url: '/api/forget-passwor',
                    data: JSON.stringify(formData),
                    contentType: 'application/json',
                    success: function (response) {
                        // Handle success response
                        alert(response);
                        // Redirect or perform any necessary actions
                    },
                    error: function (xhr, status, error) {
                        // Handle error response
                        var errorMessage = xhr.responseText;
                        alert(errorMessage);
                    }
                });
            });
        });
    </script>

    
</body>
</html>

